 label{
      color: #FFC312;
  }

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    
}
.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}